.hover:hover{
  scale: 1.1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shadow{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
transition: all .2s ease-in-out;
}

.red:hover{
  color: red;
  text-shadow: 1px 1px  10px red;
}