.loader {
    position: fixed; /* Ensures loader stays centered even if there's scrolling */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    /* background-color: rgba(0, 0, 0, 0.8); Optional: adds a background overlay */
    z-index: 1000; /* Ensures loader appears above other content */
  }

  .Form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border: 1px solid rgba(255, 255, 255, 0.66);
background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border: 1px solid rgba(255, 255, 255, 0.66);

    

  }

 
  .form-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/bgimage.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .check{
    color:gray;
  }
  .check:hover{
    color: white;
  }

  

  @media only screen and (max-width: 600px) {
    .form-body {
      background-position: right;
      background-size: cover;
    }
  }

